.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 1px var(--secondary-color-dark);
  }

  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
  }

  &__text {
    font-weight: 400;
    margin-bottom: 24px;

    &:last-child {
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}
